table{
    border: 3px solid black;
    border-collapse: collapse;
    width:1400px;
    height: 400px;
    position: relative;
    left: 30px;
    top:10px;
}
td,th{
    border: 1px solid black;
    position: relative;
    left: 20px;
}
.eee{
    display:flex;
    flex-direction: row;
    position: relative;
    left: 550px;
    top: 40px;
}
button{
    position: relative;
    left: 650px;
    top: 50px;
}